<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qun.mapper.ComputerMapper">

    <select id="getAll" resultType="Computer">
        select * from computer
        <where>
            <if test="query != null">
                id like concat('%',#{query},'%') or
                brand like concat('%',#{query},'%') or
                cpu like concat('%',#{query},'%') or
                gpu like concat('%',#{query},'%')
            </if>
        </where>
        limit #{start},#{num}
    </select>

    <select id="query" resultType="ForegroundMainListDTO">
        select id,brand,cpu,gpu,url  from computer where brand like concat('%',#{query},'%')
    </select>

    <select id="getFFL" resultType="ForegroundMainListDTO">
        select id,brand,cpu,gpu,url  from computer limit #{start},5
    </select>

    <select id="getTotal" resultType="int">
        select count(*) from computer
    </select>

    <select id="get" resultType="Computer">
        select * from computer where id = #{id}
    </select>

    <insert id="add" parameterType="Computer" useGeneratedKeys="true" keyProperty="id">
        insert into computer(brand, cpu, gpu, screen, memory, hard_disk, price, stock, url)
            VALUES(#{brand},#{cpu},#{gpu},#{screen},#{memory},#{hardDisk},#{price},#{stock},#{url})
    </insert>

    <delete id="delete">
        delete from computer where id = #{id}
    </delete>

    <update id="update" parameterType="Computer">
        update computer
        <set>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="stock != null">
                stock = #{stock}
            </if>
        </set>
        where id = #{id}
    </update>

<!--    <insert id="upload" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into image(path) values (#{image})-->
<!--    </insert>-->
</mapper>
