<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qun.mapper.OrderMapper">

    <select id="getAll" resultType="Order">
        select * from `order`
        <where>
            <if test="query != null">
                id like concat('%',#{query},'%') or
                user_id like concat('%',#{query},'%') or
                good_id like concat('%',#{query},'%')
            </if>
        </where>
        limit #{start},#{num}
    </select>

    <select id="get" resultType="Order">
        select * from `order` where id = #{id}
    </select>

    <insert id="add" parameterType="CartOrderVO" useGeneratedKeys="true" keyProperty="id">
        insert into `order`(user_id,good_id, count, time, total, pay)
            VALUES(#{userId},#{goodId},#{count},#{time},#{total},0)
    </insert>

    <delete id="delete">
        delete from `order` where id = #{id}
    </delete>

    <update id="update" parameterType="Order">
        update `order` set pay = #{pay} where id = #{id}
    </update>

    <select id="getTotal" resultType="int">
        select count(*) from `order`
        <where>
            <if test="query != null">
                id like concat('%',#{query},'%') or
                user_id like concat('%',#{query},'%') or
                good_id like concat('%',#{query},'%')
            </if>
        </where>
    </select>

    <select id="getCartOrder" resultType="CartShowVO">
        select c.url,o.count FROM `order` o INNER JOIN `computer` c ON o.`good_id` = c.`id` WHERE o.user_id = #{id} ORDER BY o.time DESC LIMIT 0,10
    </select>
</mapper>
