<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qun.mapper.OrderMapper">

    <select id="getAll" resultType="Order">
        select * from `order`
    </select>

    <select id="get" resultType="Order">
        select * from `order` where id = #{id}
    </select>

    <insert id="add" parameterType="Order">
        insert into `order`(price, payment, deliver, time, address)
            VALUES(#{price},#{payment},#{deliver},#{time},#{address})
    </insert>

    <delete id="delete">
        delete from `order` where id = #{id}
    </delete>

    <update id="update" parameterType="Order">
        update `order`
        <set>
            <if test="price != null">
                price = #{price}
            </if>
            <if test="payment != null">
                payment = #{payment}
            </if>
            <if test="deliver != null">
                deliver = #{deliver}
            </if>
            <if test="time != null">
                time = #{time}
            </if>
            <if test="address != null">
                address = #{address}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
